@charset "UTF-8";
body{
	font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
    margin:0;
    height:100%;
}

div{
    box-sizing: border-box;
}
html{
    height:100%;
}
p,h4,h3,h2,h1,span,button,div{
	transform: skew(-0.1deg);
}
div::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

div::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #77a1dd; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

div::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}
::placeholder {
    color: black;
    font-size: 0.9em;
    font-weight: 400;
    opacity: 1; /* Firefox */
}
#container{
    position:relative;
	height: 100%;
}
.main{
	width: -webkit-fill-available;
	height: 100%;
}

#wrap{
	min-width:1120px;
	height: 100%;
}
/*  */
.header{
	
    /* min-width:700px; */
    /* height:160px; */
    /* width:500px; */
    align-items: center;
    text-align:center;
    margin:5px;
	padding: 20px;
    display:flex;
	flex-direction:row;
	/* 	border:0.5px solid grey; */
	/* border-radius : 20px; */
}
.header-info{
	display: flex;
	justify-content:space-around;
	align-items: center;
	padding: 20px;
	margin: 20px;
	border: 0.5px solid lightgrey;
}
.input-group{
	width: 60% !important;
}
.table-layout{
	padding: 20px;
	border: 1px solid #adb5bd;
	margin-right: 20px;
    margin-left: 20px;
	display: block;
	
}
.inout-table, .cal-table{
	border: 1px solid #ABBAE1;
	background-color: #E1E6F4;
	height: 500px !important;
	width:100% !important;
	text-align: center;
}
.ui-datepicker{
	left:1027.782px !important;
}
.btn-toolbar{
	justify-content: center;
}
.mem-name, .mem-num, .mem-dept{
	padding:10px;
	border:1px solid #ced4da;
	font: bold;
	width: 100px;
    text-align: center;
}
.nav-link{
	color: white !important;
}
.title{
	display:table;
	/* width:800px; */
	padding-left: 25px;
	margin:0 auto;
	/* text-align:center; */
	text-align:left;
	flex:5;
	letter-spacing:-1px;
}
.nav-tab{
	padding: 20px;
	padding-bottom: 5px;
}
#nav-inout-tab{
	letter-spacing: -2px;
	font-size: medium;

}
#nav-overtime-tab{
	letter-spacing: -1px;
	word-spacing: 3px;
    font-size: medium;
}
.nav-link{
	color: black !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color: blue !important;
	border-color: #5e7a93 #5e7a93 #f0f6f9;
}
.nav-tabs{
	padding-top: 20px;
}


#top_title{
	/* display:table-cell;
	width:500px;
	height:inherit;
	vertical-align:middle;	 */
	margin:0px;
	min-width: 263px;
	color:#0b2e4e;
}
#top_title_img{
	float:left;
	margin-left: -3px;
	width:180px;
}
.no-border{
    border-radius: 0px;
}
.date_select{
    align-items: center;
    justify-content: center;
}
.left-container{
	font: bold;
    float:left;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border:0.5px solid grey;
    border-radius: 10px;
    padding:20px;
    margin:5px;
    width:300px;
    min-width: 200px;
    height:500px;
}
.form-control{
	
}
.form-select{
	font-size:small !important
}
.right-container{
    float:right;
    height: 500px;
    /* height:100%; */
    width:-webkit-fill-available;
    padding:10px;
    margin:5px;
   /*  margin-right: 0px; */
    border:0.5px solid grey;
    border-radius: 10px;
    overflow:auto; 
}
.input-container{
    font-size:14px;
    /* position:sticky; */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top:70px;
}
.btn_class{
    display:block;
    align-items: center;
    justify-content: space-between;
    
    
}
.btn_search {
	margin-bottom: 10px;
	width: 100%;
}
.ani-time{
	transition : all 0.5s;
}

/* .left_bar{
	padding:20px;
	border:1px solid black;
	float:left;
	width:430px;
	height:800px;
	flex:1;
}
 */


.contents{
	padding:10px;
	border:1px solid black;
	float:left;
	margin-left:10px;
	height:820px;
	flex:6;
}
.input_div{
	display: flex;
    align-items: center;
}
.lookup{
	border-collapse:collapse;
	border-top:3px solid #168;
	font-size:12px;
	
	/* table-layout:fixed; 
	표크기 고정할 때 사용  */
	
	
}

.lookup th{
	color:#168;
	background:#f0f6f9;
	
}

.lookup th, .lookup td{
	text-align:center;	
	padding:10px;
	border:1px solid #ddd;	
	white-space:nowrap; 
	width:65px;
	word-break:break-all;
	
}

.lookup th:first-child, .lookup td:first-child{
	border-left:0;
}

.lookup th:last-child, .lookup td:last-child{
	border-right:0;	
}

.lookup tr td:first-child{
	text-align: center;
}

.lookup caption{caption-side: bottom; display:none}

#table_area{
	margin:10px;
}



